dist: trusty
language: cpp
compiler: clang

addons:
  apt:
    packages:
      - wget
      - pkg-config

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.11.1/bazel_0.11.1-linux-x86_64.deb
  - sha256sum -c tools/bazel_0.11.1-linux-x86_64.deb.sha256
  - sudo dpkg -i bazel_0.11.1-linux-x86_64.deb
  - sudo apt-get install -y libeigen3-dev libopencv-dev libpcl-dev

script:
- bazel build //loam/...
- bazel test //loam/...
